* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.awp-section {
  position: relative;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  width: 100%;
  background-color: black; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.awp-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 50px;
  color: #EDE0CF;
  position: relative;
  z-index: 2;
}

.awp-heading span {
  color: #d97a16;
}

.awp-fullwidth-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  z-index: 2;
}

.awp-gallery {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px 0;
  margin: 0;
}

.awp-gallery::-webkit-scrollbar { 
  display: none; 
}

.awp-card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
  z-index: 2;
}

.awp-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.awp-card img {
  width: 100%;
  /* height: 220px; */
  object-fit: contain;
  object-position: center;
  display: block;
  background-color: #f0f0f0;
  border-radius: 5%;
}

.awp-card h4 {
  margin: 15px 0 5px;
  color: #444;
  font-size: 1.4rem;
  padding: 0 15px;
}

.awp-card p {
  font-size: 0.75rem;
  color: #666;
  padding: 0 15px 20px;
}

.awp-scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #FFD580;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
  backdrop-filter: blur(4px);
}

.awp-scroll-btn.left {
  left: 10px;
}

.awp-scroll-btn.right {
  right: 10px;
}

.awp-scroll-btn:hover {
  background: rgba(217, 122, 22, 0.9);
  color: white;
  transform: translateY(-50%) scale(1.1);
}

@media (max-width: 768px) {
  .awp-section { padding: 50px 0; }
  .awp-heading { font-size: 2rem; }
  .awp-gallery { gap: 15px; padding: 15px 10px; }
  .awp-card { width: 250px; }

  .awp-scroll-btn {
    width: 38px;
    height: 38px;
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .awp-section { padding: 40px 0; }
  .awp-heading { font-size: 1.8rem; }
  .awp-fullwidth-container{ height: 502px; border-radius: 10px;}
  .awp-gallery { gap: 12px; padding: 10px 5px; }
  .awp-card { width: 100%; border-radius: 45px; }

  .awp-scroll-btn {
    width: 34px;
    height: 34px;
    font-size: 1rem;
  }
}
