.awp-section {
  padding: 50px 20px;
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(26, 8, 8);
}

.awp-heading {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #228291;
}

.awp-heading span {
  color: #f05a28;
}

.awp-fullwidth-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.awp-gallery {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  scroll-behavior: smooth;
  padding: 20px 0;
  width: 90%;
}

.awp-gallery::-webkit-scrollbar {
  display: none; 
}

.awp-card {
  flex: 0 0 350px;
  max-height:450px; 
  max-width: 350px;
  background-color: white;
  border-radius: 15px;
  /* padding: 20px; */
  box-shadow: 0 4px 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

@media screen and (max-width:765px){
  .awp-card{
    flex: 0 0 400px;
   max-height:400px;
   max-width: 120%;
  }
  .awp-gallery{
    width:100%;
  }
}

.awp-card:hover {
  transform: scale(1.05);
}

.awp-card img {
  width: 100%;        
  height: 200px;     
  object-fit: cover;  
  margin-bottom: 15px;
}

.awp-card h4 {
  font-size: 1.1rem;
  margin: 10px 0;
  color: black;
  padding:10px;
}

.awp-card p {
  font-size: 0.9rem;
  color: darkslategray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  padding:10px;

}

.awp-scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: #228291;
  color: #fff;
  font-size: 2rem;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.awp-scroll-btn.left {
  left: 0;
}

.awp-scroll-btn.right {
  right: 0;
}
