.module-section {
  padding: 60px 5%;
  color: #f5f5f5;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.module-title {
  font-size: 2.5rem;
  color: #ffd700;
  margin-bottom: 40px;
}

.module-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.module-box {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;  
}

.module-box h3 {
  color: #ffd700;
  margin-bottom: 10px;
  font-size: 1.2rem;
  flex-shrink: 0;  
}

.module-box ul {
  list-style-type: "";
  padding-left: 20px;
  color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  gap: 8px; 
  margin: 0;
  flex-grow: 1;
}

.module-box ul li {
  font-size: 0.95rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media (max-width: 900px) {
  .module-grid {
    grid-template-columns: 1fr;
  }
  .module-box {
    height: auto;
  }
}
