@import url('https://fonts.googleapis.com/css?family=Lobster');

.review-section {
  padding: 50px;
  text-align: center;
}

.review-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #228291;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 20px 0;
  width: 100%;         
  max-width: 1000px;    
  margin: auto;
  scrollbar-width: none; 
}

.review-card {
  flex: 0 0 300px;    
  max-width: 300px;    
  border-radius: 15px;
  padding: 20px;
  color: #fff;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
  background-color: rgb(41, 39, 39);
}

.carousel::-webkit-scrollbar {
  display: none;
}

.review-card:hover {
  transform: scale(1.05);
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #228291;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 15px;
}

.review-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.review-date {
  font-size: 0.85rem;
  margin: 5px 0;
}

.review-stars {
  color: gold;
  font-size: 1rem;
}

.review-text {
  font-size: 0.95rem;
  max-height: 80px;
  overflow: hidden;
  text-align: left;
}

.review-text.expanded {
  max-height: 1000px;
}

.read-btn {
  margin-top: 10px;
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.scroll-btn {
  background-color: #228291;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
  width:50px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}

@media (max-width:765px){
  .review-card {
 flex: 0 0 100%;    
  max-width: 100%; 
  }
 .review-section {
  width:100%;
 }
 .scroll-btn.left{
  left: -50px;
 }
 .scroll-btn.right{
  right: -50px;
 }
}